<div class="card text-white bg-primary mb-1 mt-1">
    <div class="card-body">
        <h4 class="card-title">{{ name }} {{ surname }}</h4>

        <p class="card-text mb-0">{{ student_id }}</p>
        <small class="form-text text-muted mb-3">Studenten-Id</small>

        <p class="card-text mb-0">{{ email }}</p>
        <small class="form-text text-muted mb-3">E-Mail</small>


    </div>
</div>